[core]
	editor = vim
	excludesFile = ~/common/.gitignore

[user]
	name = "Martino Ischia"
	email = "ischiamartino@gmail.com"

[grep]
	fallbackToNoIndex = true
[init]
	defaultBranch = master
[diff]
	# external = difft
[advice]
	detachedHead = false
